* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Gabarito", sans-serif;

}

.navbar {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    gap: 20px;
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
    z-index: 1;
}

.navbar__s1__title {
    color: oklab(91.538% -0.12736 0.02494);
}

.navbar__s2 {
    padding: 10px;
    border: solid black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mylearing {
    position: relative;
    cursor: pointer;
}

.mylearing__popup {
    position: absolute;
    background-color: whitesmoke;
    bottom: solid black 1px;
    width: 100px;
    top: 100%;
    right: 0;
    padding: 20px;
    display: none;

}

.mylearing:hover .mylearing__popup {
    display: block;
}

.categories {
  
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 5px;
    border-bottom: solid black;
   
}

.categories p {
    background-color: aquamarine;
    color: grey;
    padding: 7px;
    border-radius: 30px;
cursor: pointer;
 border:solid aquamarine ;

}
.categories p:hover{
    transform: 1s;
    background-color: transparent;
    color:black;
    border:solid aquamarine ;
}

.sale-image img {
    width: 100%;


}

.sale-image__offer {

    height: 120px;
    width: 200px;
    background-color: transparent;
    padding: 50px;
    position: relative;
    z-index: 2;
    position: absolute;
    top: 0;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0% {
transform: scale(0);
opacity: 0;
    }
100%{
    opacity: 1;
    transform: scale(1);

}
}

.sale-image {
    position: relative;
}

.recommend {
    padding: 10px;
}

.recommend__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card {
    width: 250px;
}

.course-card img {
    width: 100%;

}

.topics {
    padding: 20px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid gray 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 22%;

}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.footer {
    padding: 30px;
    background-color: black;
    color: wheat;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 20px;
}

.footer__two {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}